:root {
    --main-col: rgb(219, 143, 0) ;
    --bg-col: rgb(31, 30, 30);
  }
  
  *{
    box-sizing: border-box;
  }
  
  body {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    place-items: center;
    background: var(--bg-col);
    color: var(--main-col);
    padding-right: 10rem;
    font-family: cursive, sans-sarif;
  }
  
  .neon-button {
    font-size: 4rem;
  
    display: inline-block;
    cursor: pointer;
    text-decoration: none;
    color: var(--main-col);
    border: var(--main-col) 0.125em solid;
    padding: 0.25em 1em;
    border-radius: 0.25em;
  
    text-shadow: 0 0 0.125em hsl(0 0% 100% / 0.3), 0 0 0.45em currentColor;
  
    box-shadow: inset 0 0 0.5em 0 var(--main-col), 0 0 0.5em 0 var(--main-col);
  
    position: relative;
  }
  
  .neon-button::before {
    pointer-events: none;
    content: "";
    position: absolute;
    background: var(--main-col);
    top: 120%;
    left: 0;
    width: 100%;
    height: 100%;
  
    transform: perspective(1em) rotateX(40deg) scale(1, 0.35);
    filter: blur(1em);
    opacity: 0.7;
  }
  
  .neon-button::after {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    box-shadow: 0 0 2em 0.5em var(--main-col);
    opacity: 0;
    background-color: var(--main-col);
    z-index: -1;
    transition: opacity 100ms linear;
  }
  
  .neon-button:hover,
  .neon-button:focus {
    color: var(--bg-col);
    text-shadow: none;
  }
  
  .neon-button:hover::before,
  .neon-button:focus::before {
    opacity: 1;
  }
  .neon-button:hover::after,
  .neon-button:focus::after {
    opacity: 1;
  }
  


